.c-1{
    background-color: rgba(250, 187, 89, 0.3);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;

}
.c-2{
    width: 50vw;
    height: 100vh;
    background-position-x: center;

    img{
        height: 680px   }
}
