.index-cadastro {
    height: 100vh;
    @font-face {
        font-family: 'castle';
        src: url('../../../../../public/assets/fonts/Castle\ Begale.woff');    
    }

    .fundo {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .background_cadastro {
        border: #ff0000 solid 2px;
        height: 55vh;
        width: 30vw;
    }

    .tela_cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        gap: 30px;
        padding: 25px;
    }

    .tela_cadastro > div {
        display: flex;
        justify-content: space-around;
        gap: 20px
    }

    input, input:focus {
        outline: none;
        box-shadow: 0px;
        padding-left: 5px;
    }

    .seletores {
        border: #ff0000 solid 2px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }


}