main{
display: flex;
align-items: center;
flex-direction: row;
justify-content: center;
overflow: hidden;
background-color: #e1c0a1;
width: 100%;
height: 100vh;



.imgg{
  display: none;
  width: 65vw;
  height: 80vh;
  
}
img{
  width: 35vw;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.T-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 134px;
  left: 630px;
  background: #d8b490;
  background: linear-gradient(228deg, #d8b490d8 55%, #d8b49027 80%);  
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 37vw;
  height: 73vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
h1{
  font-size: 45px;
  margin: 20px;
  color: beige;
  font-family: 'castle';
}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20vw;
  gap: 10px;
  

  input{
    border-radius: 20px;
    border: none;
    padding: 10px;
  }
  .dif{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .dif input{
    width: 10vw;
    height: 4vh;

    
  }
  .dif-1{
    gap: 5px;
  }
  .dif-1 input{
    width: 21vw;
    height: 4vh;
    margin: 5px;
  }
  .dif-2{
    margin: 5px;
  }
  .dif-2 input{
    width: 10vw;
    height: 3vh;
  }
  .dif-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    select{
      width: 8vw;
      height: 3vh;
      padding: 5px;
      border-radius: 15px;
      border: none;
    }
  }
  .botao {
    background-color: #a37158;
    color: #fff;
    border: none;
    height: 4vh;
    width: 10vw;
    margin: 10px;
    border-radius: 15px;
}

.botao:hover {
    cursor: pointer;
    background-color: #b48875;
    letter-spacing: 1px;
    transition: 0.2s;
}
.pag-og{
  text-decoration: none;
  color: beige;
  margin: 15px;
  font-size: 18px;
}
.pag-og:hover{
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #a37158;
}
input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 
}

}
@media (max-width: 550px) {
  main{
    width: 100%;
  }
  .imgg{
    display: none;
  }
  .T-0{
    position: absolute;
    width: 70px;
    transform: translate(-220%, 10%);
    border-radius: 20px;
    display: flex;
  }
  form{
    display: flex ;
    width: 90px;
    height: 55%;
    background: #d8b490;
  }
}