*{
  margin: 0px;
  box-sizing: border-box;
}

.pag-inicial {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-x: hidden;

  .s1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    background-color: #E5C28C;
    background-image: url(../../../../../public/assets/images/geral/abstrato.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
    



  
    .s1-1-teste{
      display: flex;
      flex-direction: column;
      gap: 15px;
    
    }
  }

 

  .s1-1 {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 40vh;

     
      



    .video-mh{
      margin-top: 10%;
      width: 55vw;
      height: 50vh;
      border: none;
      border-radius: 10px;    
    }


  }

  .s1-1 img {
    height: 60vh;
    width: 28vw;
  }


  .s1-2 {
    display: flex;
    width: 60vw;
    height: auto;
    gap: 15px;
  }

   
  .s1-2 p {
    margin-top: 60px;
    font-size: 17px;
    color: black;
    font-family: 'Comfortaa', sans-serif;
    background-color:#E5C28C;
    border-radius: 10px;
    
  }







  .s2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

        p{
          font-family: 'Questrial', sans-serif;
          font-size: 20px;
          margin-top: 5px;
        }
  }

  .s2 img:hover {
    cursor: pointer;
    transition: 0.3s;
    height: 21vh;
  }

  .s2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 40vh;

  }

  .s2-1 img {
    height: 20vh;
    background-color: #ffcc7ae7;
    padding: 40px;
    border-radius: 100%;
  }

  .s2-2 img {
    height: 20vh;
    background-color: #ffe482ef;
    padding: 40px;
    border-radius: 100%;
  }

  .s2-3 img {
    height: 20vh;
    background-color: #ffcc7ae7;
    padding: 40px;
    border-radius: 100%;
  }

  .s2 a {
    text-decoration: none;
    color: black;
    font-size: 26px;
  }

  .s3 {
    margin-top: 50px;
    width: 99vw;
    h3{
      font-family: 'Questrial', sans-serif;
      font-size: 26px;
    }

    p{
      font-family: 'Questrial', sans-serif;
      font-size: 20px;
    }

  }

  .mostrar {
    background-color: #ffcc7ae7;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;


    height: 55vh;
    padding: 25px;
    border-radius: 15px;
  }

  .mostrar img {
    height: 8vh;
  }

  .m-1 {
    height: 40vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

  }

  .m-1 p {
    width: 60vw;
    text-align: left;
  }

  .slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 50vh;
    width: 99vw;
    

   
  }

  .s4 img {
    height: 70vh;
  }

  .s4 p {
    font-size: 18px;
    width: 60vw;
  }

  .s5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 40px 0px 40px 0px;
 
    height: 60vh;

  }

  .s5 p {
    font-size: 26px;
    font-family: 'Comfortaa', sans-serif;
  }

  .s5-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    width: 60vw;
    gap: 45px
  }

  .s5-1 img {
    height: 20vh;
  }

  .s5-1 img:hover {
    cursor: pointer;
    transition: 0.3s;
    height: 22vh;
  }


  

  .seta {
    height: 3vh;
  }

  .seta:hover {
    cursor: pointer;
    transition: 0.3s;
    height: 4vh;
  }

  #seta {
    transform:rotate(180deg) ;
  }


  
  .pisca-s6 {
     color: #000;

    animation: pisca 1.0s infinite;
     display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
   gap: 5px; 
  

   


  }

  
  
  @keyframes pisca{
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    
   
  }

  .s6{
    display: flex;
    flex-direction: column;
     


    .s6-1{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 50vh;
    }


    
  .s6-img img{
    display: flex;   
    flex-direction: row; 
    height: 30vh;


    .s6 p{
      font-family: 'Comfortaa', sans-serif;
    }
  }

  .s6-p1:hover{
     background-color: #FFE898;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    
    
  }


  .s7{
    display: flex;
    flex-direction: row;
    justify-content: center; 
   

     .s7-ver{
    height: 5vh;
    width: 10vw;
    align-items: center;
    color: white;
    background-color: #000;
    border-radius: 30px;
  }

  }
 
  }



  @media (max-width: 550px) {


    .s1 {
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;


      .s1-1 video{
        height: 20vh;
        margin: 0px;
      }
      .s1-1{
     
        gap: 2px;
      
      }
      
      .s1-2{
        width: 90vw;
        
        p{
          font-size: 10px;
         margin-top: 0px;
         width: 100vw;
        }
      }

      


    }


    .s2{

        height: 20vh;
      .s2-1, .s2-2, .s2-3{
        height: 2vh;
      }

      img{
        height: 8vh;
        padding: 10px;
      }

      img:hover{
        height: 9vh;
        padding: 10px;
      }

      p{
        font-size: 10px;
      }
    }



    .mostrar{
      height: 50vh;
      align-items: center;
      display: flex;
    }

    .m-1{
      gap: 2px;
    }
    .m-1 p{
      font-size: 10px;
    }

    .m-1 h3{
      font-size: 12px;
    }


    .s5{
      height: 60vh;
    }

    .s5 img{
      height: 10vh;
    }

    



  }













  // 
  .s1-chat{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #f6b44a80;
    padding: 25px;
    gap: 35px;
    

    .chat-img{
      display: flex;
      align-items: flex-start;
      height: 60vh  ;

      img{
        height: 10vh;
      }
    }

    .chat{
      background-color: white;
      height: 70vh;
      width: 90vh !important;
      padding: 25px;
      border-radius: 5px;



      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .fixed{
        height: 50vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      p, .mensagem{
        background-color: #f6b44a48;
        width: 37vw;
        text-align: left;
        border-radius: 15px;
        padding: 15px;
        font-size: 15px;
      }
      .erro{
        background-color: #f6894a48;
        width: 37vw;
        text-align: left;
        border-radius: 15px;
        padding: 15px;
        font-size: 15px;
      }
      .space-{
        display: flex;
        flex-direction: column;
       
        justify-content: space-between;
       
      }
    }

    .input{
      border: 2px solid #f6b44a80;
      background-color: #f6b44a4f;
      height: 6vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      border-radius: 55px;

      button{
        background-color: #f6b44a11;
        border: none;
        border-radius: 0px 55px 55px 0px;
      }

      button:hover{
        cursor: pointer;
        background-color: #f6b44a11;
        transition: 0.4s;

        img{
          height: 5vh;
          transition: 0.4s;
        }
      }

      img{
        background-color: white;
        height: 4vh;
        border-radius: 55px;
      }

      input{
        border: none;
        background-color: #f6b44a11;
        width: 34vw;
        height: 6vh;
        color: black;
        font-family: 'questrial';
        border-radius: 55px 0px 0px 55px;
        padding-left: 15px;
      }
    }
  }


  //

  .fixed::-webkit-scrollbar {
    width: 12px;              
  }
  
  .fixed::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0.068);        
  }
  
  .fixed::-webkit-scrollbar-thumb {
    background-color: #f6b44abe;    
    border-radius: 20px;       
    border: 3px solid #f6b44a;  
  }
  input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
  


}