*{
  margin: 0px;
  box-sizing: border-box;
}

.pag-inicial {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-x: hidden;

  .s1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    background-color: #E5C28C;
    background-image: url(../../../../../public/assets/images/geral/abstrato.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
    



  
    .s1-1-teste{
      display: flex;
      flex-direction: column;
      gap: 15px;
    
    }
  }

 

  .s1-1 {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 40vh;

     
      



    .video-mh{
      margin-top: 10%;
      width: 55vw;
      height: 50vh;
      border: none;
      border-radius: 10px;    
    }


  }

  .s1-1 img {
    height: 60vh;
    width: 28vw;
  }


  .s1-2 {
    display: flex;
    width: 60vw;
    height: auto;
    gap: 15px;
  }

   
  .s1-2 p {
    margin-top: 60px;
    font-size: 17px;
    color: black;
    font-family: 'Comfortaa', sans-serif;
    background-color:#E5C28C;
    border-radius: 10px;
    
  }

  .s2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

        p{
          font-family: 'Questrial', sans-serif;
          font-size: 20px;
          margin-top: 5px;
        }
  }

  .s2 img:hover {
    cursor: pointer;
    transition: 0.3s;
    height: 21vh;
  }

  .s2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 40vh;

  }

  .s2-1 img {
    height: 20vh;
    background-color: #ffcc7ae7;
    padding: 40px;
    border-radius: 100%;
  }

  .s2-2 img {
    height: 20vh;
    background-color: #ffe482ef;
    padding: 40px;
    border-radius: 100%;
  }

  .s2-3 img {
    height: 20vh;
    background-color: #ffcc7ae7;
    padding: 40px;
    border-radius: 100%;
  }

  .s2 a {
    text-decoration: none;
    color: black;
    font-size: 26px;
  }

  .s3 {
    margin-top: 50px;
    width: 99vw;
    h3{
      font-family: 'Questrial', sans-serif;
      font-size: 26px;
    }

    p{
      font-family: 'Questrial', sans-serif;
      font-size: 20px;
    }

  }

  .mostrar {
    background-color: #ffcc7ae7;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;


    height: 55vh;
    padding: 25px;
    border-radius: 15px;
  }

  .mostrar img {
    height: 8vh;
  }

  .m-1 {
    height: 40vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

  }

  .m-1 p {
    width: 60vw;
    text-align: left;
  }

  .slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 50vh;
    width: 99vw;
    

   
  }

  .s4 img {
    height: 70vh;
  }

  .s4 p {
    font-size: 18px;
    width: 60vw;
  }

  .s5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;

  }

  .s5 p {
    font-size: 26px;
    font-family: 'Comfortaa', sans-serif;
  }

  .s5-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 60vw;
    gap: 45px
  }

  .s5-1 img {
    height: 20vh;
  }

  .s5-1 img:hover {
    cursor: pointer;
    transition: 0.3s;
    height: 22vh;
  }

  .s6 {
    display: flex;
    flex-direction: column;
    width: 99vw;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  .s6>p {
    background-color: #E2BC81;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 12vw;
    color: white;
    border-radius: 25px;
  }

  .s6-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }

  .s6-1-p {
    border: 4px solid #fabc59ab;
    border-radius: 15px;
    padding: 8px;
  }

  .s6-1-p:hover {
    cursor: pointer;
    transition: 0.3s;
    padding: 12px;
  }

  .s6-1-p img {
    height: 30vh;
  }

  .s6-1-p img:hover {
    height: 32vh;
    transition: 0.3s;
  }

  .s6-1-p p {
    font-size: 14px;
  }

  .s6-1-p b {
    font-size: 18px;
  }

  .seta {
    height: 3vh;
  }

  .seta:hover {
    cursor: pointer;
    transition: 0.3s;
    height: 4vh;
  }

  #seta {
    transform:rotate(180deg) ;
  }

}