.pag-conta{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:18px;
    overflow: hidden;
   
    *{
        p{
            font-size: 18px;
        }
    }

    .s1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 15px; 
    }
    .s1-0{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        padding: 0px 15px 0px 15px;


        
        button{
            border: 1px solid #fabc599c;
            background-color: #fabc5921;
             border-radius: 15px;
             padding: 0px 8px 0px 8px ;
        }
        button:hover{
            background-color: #fabc5963;
            transition: 0.3s;
            letter-spacing: 1px;
        }
    }
    .s1-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        width: 90vw;
    }
    .s1-1 button{
        color: black;
        text-decoration: none;
        background-color: white;
        border: none;

        
    }
    .s1-1 img{
        height: 2vh;
    }
    .s1-1:hover{
        img{
            height: 3vh;
            transition: 0.3s;
        }
    }

    .s1-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90vw;
        justify-content: space-evenly;

        button{
            background-color: white;
            border: none;
            font-family: 'Questrial', sans-serif;
            border-radius: 5px;
        }
        button:hover{
            transition: 0.3s;
            letter-spacing: 1px;
            box-shadow: 0px 6px 15px #a5a5a5;
        }
    }
    .s1-2 img{
        height: 8vh;
    }

    .s1-2-open{
       display: flex;
       flex-direction: row;
       width: 80vw;
       justify-content: center;
       align-items: center;
       background-color: #fabc592f;
       padding: 10px;
       table{
        display: flex;
        flex-direction: column;
        width: 70vw;

        thead, tbody{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 70vw;
            
            padding: 15px;
        }

        tbody{
            border: 2px solid #fabc59de;
            border-radius: 25px;
            padding: 0px 15px 0px 15px;
        }
       }
    }
   




    .linha{
        background-color: #fabc59a4;
        color: #fabc59a4;
        height: 5px;
        width: 90vw;
    
    }


.conta{
    background-color: #fabc5988;
    border-radius: 100%;
}



    .s2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .s2-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        font-size: 18px;

        .e{
         font-weight: bold;
        }
        .p{
            cursor: pointer;
        }
        .p:hover{
            transition: 0.3s;
            font-size: 20px;
            letter-spacing: 1px;
        }
    }
    .s2-1 img{
        height: 2vh;
    }
    .s2-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 120px;
        font-size: 19px;
    }
    

    .s2-3{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
        width: 80vw;
        gap: 10px;


            input{
            border: 3px solid #fabc5988;
            border-radius: 25px;
            padding: 0px 10px 0px 10px;
            height: 5vh;
            font-family: 'Questrial', sans-serif;
        }
    }
    .dnt{
        margin: 4px;
    }
    .s2-3 button{
        background-color: #fabc5988;
        border: none;
        border-radius: 30px;
        width: 8vw;
        height: 6vh;
        
        
        img{
            width: 2vw;
        }
    }
    .s2-6{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .s2-6 button:hover{
        transition: 0.5s;
        cursor: pointer;
        background-color: #fabc59c9;
    }




    .s3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 80vw;
    }
    .s3-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        font-size: 18px;
    }
    .s3-1 img{
        height: 2vh;
    }

    .s3-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 20vw;
        height: 20vw !important;
        gap:1px;

        b{
            font-size: 18px;
        }

        p{
            font-size: 18px;
        }
    }

    .s3-lado{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
    }

    .s3-3{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 35vw;
        gap: 15px;
    }

    .s3-6{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 40vw;
        gap: 15px;
    }

    .s3-6 input, select{
        border: 3px solid #fabc5988;
        border-radius: 25px;
        padding: 0px 10px 0px 10px;
        height: 5vh;
        font-family: 'Questrial', sans-serif;
    }

    .s3-3 input, select{
        border: 3px solid #fabc5988;
        border-radius: 25px;
        padding: 0px 10px 0px 10px;
        height: 5vh;
        font-family: 'Questrial', sans-serif;
    }
    textarea:focus, input:focus, selcet:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    .rua{
        width: 15vw;
    }
    .numero{
        width: 17vw;
    }
    .bairro{
        width: 15vw;
    }
    .cidade{
        width: 24vh;
    }
    .cep{
        width: 33vw;
    }

    select{
        color: #6d6d6d;
    }

    .s3-3 button{
        background-color: #fabc5988;
        border: none;
        border-radius: 30px;
        width: 8vw;
    }
    .s3-3 button:hover{
        transition: 0.5s;
        cursor: pointer;
        background-color: #fabc59c9;
    }

    .s3-6 button{
        background-color: #fabc5988;
        border: none;
        border-radius: 30px;
        width: 8vw;
    }
    .s3-6 button:hover{
        transition: 0.5s;
        cursor: pointer;
        background-color: #fabc59c9;
    }

    #cod{
        width: 14vw;
    }





    .s4{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 80vw;
    }
    .s4-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80vw;
    }
    .s4-1 img{
        height: 2vh;
    }

    .s4-2{
        width: 80vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .seta{
        height: 5vh;
    }
    .seta:hover{
        cursor: pointer;
        transition: 0.5s;
        height: 6vh;
    }


    
    .p{
        cursor: pointer;
    }

    .p:hover{
        transition: 0.3s;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .i:hover{
        transition: 0.3s;
        height: 3vh;
    }

    .c{
        width: 15vw;
    }

    .o{
        width: 12vw;
    }





    
  .s6-1-p{
    border: 4px solid #fabc59ab;
    border-radius: 15px;
    padding: 8px;
  }
  .s6-1-p:hover{
    cursor: pointer;
    transition: 0.3s;
    padding: 9px;
  }
  .s6-1-p img{
    height: 10vh !important;
  }
  .s6-1-p img:hover{
    height: 11vh;
    transition: 0.3s;
  }
  .s6-1-p p{
    font-size: 14px;
  }
  .s6-1-p b{
    font-size: 18px;
  }


  @media (max-width: 550px) {

    .s1-0{
        display: flex;
        height: 100px;
        p{
            font-size: 25px;
        }
    }
    .s1-1{
        
        

        p{
            font-size: 18px;
        }
    }

    
    .s1-2{
        
        p{
            font-size: 10px;
        }
    }



    .s2{
        width: 10px;
    }
    .s2-1{
        width: 29px;
        .e{
            display: flex;
            flex-direction: row;
           
            font-size: 18px;
        }
    }
    .s2-2{
        display: flex;
        flex-direction: column;
        

        
        
        p{
            display: flex;
            flex-direction: column;
            font-size: 20px;
            margin-right: 200%;
        }
    }
    .s3-2{
        display: flex;
        height: 300px;
        p{
            font-size: 13px;
        }
    }

    .s3-3 input, select{
        border: 3px solid #fabc5988;
        border-radius: 25px;
        padding: 0px 10px 0px 10px;
        height: 5vh;
        font-family: 'Questrial', sans-serif;
    }
    textarea:focus, input:focus, selcet:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    .rua{
        width: 53vw;
    }
    .numero{
        width: 53vw;
    }
    .bairro{
        width: 53vw;
    }
    .cidade{
        width: 30vh;
    }
    .cep{
        width: 53vw;
    }

    select{
        color: #6d6d6d;
    }

    .s3-3 button{
        display: flex;
        flex-direction: row;
        width: 10vh;
    }

   
    



    .p{
        font-size: 15px;

    }


    .s4-1{
        p{
            display: none;
        }
    }


    .s6-1-p{
        display: none;
        
    }


    .seta{
        display: none;

    }
}




}


