
.pag-produtos{

    h3{
        margin-left: 5%;
    }
    
.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 35px;
  }
  
  .produtos {
    margin-top: 50px;
    flex: 0 1 calc(25% - 35px); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding-top: 10px;
    height: 45vh;
    background-color: rgba(214, 214, 214, 0.308);
    border-radius: 30px;
  }
  
  
  .produtos a:hover {
    transition: 0.3s;

    

    border:2px solid #FABB59;
  }


  .a{
    height: 70vh;
  }
  

  
  
  .produtos a {
    flex: 0 1 calc(25% - 35px); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000;
    
    border-radius: 30px;   
  }

  


   .produto-img{
   
    height: 30vh;
   }



  .todos-produtos{
    .tt{
        margin-left: 5%;
        width: 90vw;
        text-align: center;
        background-color: #FEDF70;
        color: white;
    }
  }
  
  .titulo {
    
    font-size: 14px;
    margin-right: 48%;
  }
  .textinho{
    text-align: start;
  }
  
  .lado {
    display: flex;
    flex-direction: row;
    
  }
  
  .preco-normal {
    margin: 5px;
    margin-top: 17px;
  }
  
   
  
.botao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;


  .bt-vermais{
    font-size: 20px;
    width: 10vw;
    height: 8vh;
    border-radius: 30px;
    border-color: #FABB59;
    background-color: white;
  }
}

}


