@font-face {
    font-family:'reno';
    src: url('../../../../../public/assets/fonts/Renogare-Regular.otf');
}

.pag-info{
    overflow: hidden;
    
    .exemplo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       height: 60vh;
       
        padding: 10px;
        margin-left: 10%;
    }

    .td-info{

        display: flex;
        flex-direction: row;
        justify-content: center;
       
       
    }

    .info{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
        
        h3{
            font: 15px "reno";
        }
        h2{
            font: 25px "reno";
        }

    }
    

    .vl-desconto{
        display: flex;
        flex-direction: row;
        align-items: center;

        .parcela{
            margin: 2%;  
            gap: 10px;
            color: #726969;
        }
    }
    
    .estrelas{
        display: flex;
        flex-direction: row;
        align-items: center;

        
    }

     
    .estrela{
        margin: 3px;
        height: 3vh;
        
       
    }

    .tamanhos-info{
        display: flex;
        flex-direction: row;
        align-items: center !important;
        justify-content:flex-start ;
       
        font-size: 16px;
    }

    .qtd{
       display:flex ;
       flex-direction: row;
       
       gap: 10px;
      
     

       .qtd-info{
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: center;
        border: 2px solid #FFE898;
        border-radius: 25px;
        width: 10vw;
        height: 5vh;
        display:flex ;
       flex-direction: row;



       button{
        background-color: white;
        border: none;
        cursor: pointer;
       
       }
       


       }
    }

     .disp{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2%;

        h5{
            font-size: 17px;
        }
        
        
        
     }
     
    .disponivel{
        height: 2.5vh;
        
    }

    .coracao-info{
        margin: 10px;
        height: 3vh;
    }

    .coracao-info:hover{
        background-color: #FFE898;
    }

 .ml:hover{
    background-color: #FFE898;
  
 }

    .ml{
        width: 5vw;
        margin: 10px;
        border-radius: 20px;
        border: 1px solid #FFE898;
        padding: 8px;
        background-color: white;
 
    }




    
    .add-info button{
        border: none;
        background-color: #FFE898;
        color: #000;
        padding: 5px;
        border-radius: 20px;
        width: 15vw;
    }

    .add-info{
        display: flex;
        flex-direction: row;
        margin: 5px;
    }


    .opc-info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
       align-items: flex-start;
      width: 80vw;
      padding: 10px;
    }

    .opc-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70vw;
      
    }

    .s1{
        background-color: #FFE898;
        display: flex;
        flex-direction: row;
    }


 
    .indica{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #FFE898;
        width: 15vw;
        height: 5vh;
        border-radius: 30px;

       


        .indica-s1{
           
            background-color: white;
            border-radius: 30px;
            height: 4vh;



            .indica-s1 p{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 30px;
            }

            
        }

      
    }

    
    .indica-s2{
        display: flex;
        flex-direction: column;
        gap: 10px;

      


      .indica-png{
        height: 3vh;
      

        .pi{
            margin-top:53%;
        
        }
     
    }


    .indica-s3{
        display: flex;
        flex-direction: row;
        
    }

    .indc-s1{
        display: flex;
        flex-direction: row;
    }


    .indc-s2{
        display: flex;
        flex-direction: row;
    }

    .indc-s3{
        display: flex;
        flex-direction: row;
    }

    .indc-s4{
        display: flex;
        flex-direction: row;
    }


    }

    .comprova {
    margin-left: 10%;
       font-size: 20px;
    }



    .avaliac{
           display: flex;
           flex-direction: column;
           width: 50vw;
           height: 80vh;
           


           .star{
            border: 5px solid #FABB59;
            border-radius: 10px;
            margin-left: 10%;
            height: 25vh;
            width: 30vw;
           }
         


           .estrelaa{
            height: 3vh;
            margin: 2px;
            margin-left: 5%;
            margin-top: 2%;


        
           }



           .td-avali{
            display: flex;
            flex-direction: row;
           }


        .av-s1{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            .num{
                margin-top: 5px;
            }
            

        }

        .av-s2{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            .num{
                margin-top: 5px;
            }

        }
        .av-s3{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            .num{
                margin-top: 5px;
            }
        }

        .av-s4{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            .num{
                margin-top: 5px;
            }

        }

        .av-s5{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            .num{
                margin-top: 5px;
            }

        } 
        
        




      .avc{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 50vw;
        
     


     .avcimg{
        display: flex;
        flex-direction: row;
        margin-bottom: 6%;
        height: 2vh;
        
     }

     .avcpf{
       height: 4vh;
       margin: 4px;

 


     }

      

     
        .avc-s1{
            display: flex;
            flex-direction: row;
          
         .avcp{
            display: flex;
            flex-direction: row;
            justify-content: end;
            height: 2vh;

         }

        }

        .avc-s2{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            background-color: #D9D9D9;
            height: 8vh;
            margin: 10px;



             .avc-s2 p{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

             }
           
        }

      

      }
        
    }
   

   
.linhas{
    background-color: gray;
    width: 90vw;
    height: 1px;
    margin: 0px;
}

.n-bold{
    margin: 0px;
}
.bold-linhas1{
    width: 6vw;
    height: 8px;
    background-color: #fabc59f1;
}

.bold-linhas2{
    width: 8vw;
    height: 8px;
    background-color: #fabc59f1;
}

.bold-linhas3{
    width: 6vw;
    height: 8px;
    background-color: #fabc59f1;
}

.bold-linhas4{
    width: 10vw;
    height: 8px;
    background-color: #fabc59f1;
}

.s6{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


.ingred{
    display: flex;
    flex-direction: column;
    gap: 20px;

   .igd{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    width: 20vw;
    background-color: rgba(221, 221, 221, 0.712);
  
    

   
   }

   @media (max-width: 400px) {
    .pag-info {
        .opc-info,
        .avaliac {
            width: 100%;
            padding: 10px;
        }

        .opc-1,
        .ingred {
            width: 100%;
        }

        .info,
             
        .limpador{

            h2{
               font-size: 20px;
            }

        }



        h3{
            font: 10px "reno";
        }
        h2{
            font: 12px "reno";
        }

        .ml{

            width: 15vw;
            margin: 10px;
            border-radius: 20px;
            border: 1px solid #FFE898;
            padding: 8px;
            background-color: white;

        }

        .qtd-info {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
             border: 2px solid #FFE898;
             border-radius: 25px;
             width: 20vw;
             height: 10vh;
             display:flex ;
             margin-left: 10%;
            flex-direction: row;
     
         

        
        }

        .add-info button {
            width: 100%;
        }

        .avaliac .star {
            width: 100%;
        }

        .s6 {
            padding: 10px;
        }

        
    }
}

   

      
}



}















