
@font-face {
    font-family: 'hanoble';
    src: url('../../../public/assets/fonts/Hanoble.otf');    
}
@font-face {
    font-family: 'castle';
    src: url('../../../public/assets/fonts/Castle\ Begale.woff');    
}




.rodape{


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #dbb782;
    border-radius: 5px;
    padding-top: 35px;

    overflow-y: hidden;
    
    
    margin-top: 25px;

    .info-R{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        width: 100%;
        

    }

    .r4{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
        color: white;

        .h1{
            font-family: 'castle';
            font-size: 36px;
        }
        img{
            height: 6vh;
        }
    }

    .a{
        display: flex;
        flex-direction: row;
        
    }
    a img{
        height: 10vh;
        padding: 10px;
    }

    .h6{
        font-size: 25px;
        font-family: 'castle';
        color: white;
    }
    p{
        font-size: 18px;
        font-family: 'Questrial', sans-serif;
        color: white;
    }

}
@media (max-width: 550px){
    .rodape{
        display: flex;
        align-items: center ;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 270px;
        
    }
    .info-R{
        padding: 5px;
    }
    .h6 p{
        font-size: 2px;
    }

    .r1 p{
        font-size: 10px;
    }
    .r4 p{
        font-size: 1px;
       
    }
    .r4 a{
        width: 45px;

    }
    
}
