
@font-face {
    font-family: 'hanoble';
    src: url('../../../public/assets/fonts/Hanoble.otf');    
}
@font-face {
    font-family: 'castle';
    src: url('../../../public/assets/fonts/Castle\ Begale.woff');    
}




.rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: #E2BC81;
    border-radius: 5px;
    


    .info-R{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        width: 100%;
        

    }

    .r4{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font: 17px 'castle';
        color: white;
    }

    .a{
        display: flex;
        flex-direction: row;
        
    }
    a img{
        height: 5vh;
        padding: 10px;
    }

    h2{
        font:29px 'hanoble';
        color: white;
    }
    p{
        font: 15px 'hanoble';
        color: white;
    }

}