.rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98vw;
    background-color: #E2BC81;
    border-radius: 15px;
    


    .info{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: 'font1';
        text-align: left;
        width: 100vw;

    }

    h2{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }

    .r4{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .a{
        display: flex;
        flex-direction: row;
        gap: 5px
    }
    a img{
        height: 5vh;
    }

}