.index_consulta_produto {

    hr {
        height: 4px;
        background-color: #EDCD9C;
        border-style: none;
    }

    #input, textarea {
       border: 2px solid #FFCE70;
       border-radius: 4px;
       resize: none;
    }

    #input {
        height: 20px;
    }

    #input:focus {
        outline: none;
    }

    .sec_1 {
        height: 100%;
        width: 100%;
        padding: 25px 35px;
    }

    .sec1_c1, .sec1_c2, .sec1_c3, .sec1_c4 {
        display: flex;
        flex-direction: row;
    }

    .sec1_c1 > div, .sec1_c2 > div, .sec1_c3 > div {
        display: flex;
        flex-direction: column;
    }

    .sec1_c4 > div {
        display: flex;
        flex-direction: column;
    }

}