.s-1{
    box-sizing: border-box;
    .c-1{
        height: 15vh;
    }

    .s-1-1 p{
        text-align: flex-start;
        padding-left: 20px;
        font-size: 2vw;
    }

    .s-1-1{
        height: 10vh;
    }

    .l-1{
        border: 1px solid #FABB59;
    }

    .i-1{
        display: flex;
        flex-direction: column ;
        justify-content: space-around;
        width: 100vw;
        height: 20vh;
        padding-left: 30px;
        margin-left: 20px;
        gap: 5px;
    }

    .i-1 input{
        height: 20px;
        width: 30vw;
        border: 1px solid #FABB59 ;
    }

    textarea:focus, input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }   

    .i-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 25vh;    
        height: 25vh;
        width: 1600vw;
        text-align: flex-end;
    }

    .s-2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .i-2 input{
        height: 20vh;
        width: 35vw;
        border: 1px solid #FABB59 ;
    }

  .i-2 p{
        text-align: flex-start;
        padding-right: 42vh;
    }

    .a-1{
        display: flex;
        flex-direction: column ;
        justify-content: space-around;
        height: 45vh;
        padding-left: 30px;
        margin-left: 20px;
        gap: 0px;
        position: absolute;      
    }
    .a-1 input{
        height: 56vh;
        width: 30vw;
        border: 1px solid #FABB59 ; 
        
    }
    .cima {
        height: 16vh;
        width: 46vh;
        margin: 15px;

    }

    .b-1{
        border: 1px solid #FABB59;
        width: 32vw;
        height: 35vh;
        gap: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .b-2{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 1px;
        width: 41vh;
    }
    .c-1-1{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 10px 0px 30px;
        padding-left: 30px;
        margin-left: 29px;
        
    
        .c-1-outro{
            height: 30vh;
            width: 30vw;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
    
        }
        
        .c-1-lado{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 20vh;
            width: 26vw;
        }



        .tipodepele{
          border: 1px solid #FABB59;  
          width: 20vw;
          height: 5vh;

        }
        .tamanho{
            border: 1px solid #FABB59;  
            width: 20vw;
            height: 5vh;
        }
        .marca{
            border: 1px solid #FABB59;  
            width: 20vw;
            height: 5vh;
        }
        .quantidade{
            border: 1px solid #FABB59;  
            width: 20vw;
            height: 5vh;
        }
        .necessidade{
            border: 1px solid #FABB59;  
            width: 20vw;
            height: 5vh;
        }
    }

    .c-2-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 73vw;
        height: 55vh;
        
        
        .c-2-lado{
            margin: 130px;
            
        }
        .c-2-outro{
            margin: 2px;
          
        }

        .c-2-lado input{
            border: 1px solid #FABB59;  
            height: 25vh;
            width: 30vw;
        }
        .c-2-outro input{
            border: 1px solid #FABB59;  
            height: 4vh;
            width: 35vw;
        }
    }
    .botaos{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        #botao {
            background-color: #FABB59;
            color: #fff;
            border: none;
            height: 7vh;
            width: 13vw;
            margin: 20px;
            border-radius: 50px;
        }
        #botao:hover {
            cursor: pointer;
            background-color: #e4a033bd;
            transition: 0.2s;
        }
    }
    
    
}