.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    input{
        font-family: 'Questrial', sans-serif;
        color: black;
    }
    

    
    
    
    .pisca-s1 {
        animation: pisca 2.5s infinite;
         display: flex;
        flex-direction: row;
       gap: 5px; 
      
            

    
      }
      
      @keyframes pisca{
        0%, 100% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        
       
      }

  

    

      .pisca h1{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: #FFE898;
            font-size: 12px;
            height: 3vh;
            width: 100vw;
           

             #frete{
                color: rgb(255, 157, 11);
             }
       
      }

      
     

      
        
      

    .c1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 15vh;

       


    }

    .c1-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        p {
            text-decoration: none;
            color: black;
            
            
            
           
        }

        #logo{
            font-size: 65px;
            font: 65px 'castle';
        }
    }

    .c1-1 > img {
       margin-bottom: 15px;
        height: 8vh;
    }

    .c-linha {
        height: 3px;
        width: 100%;
        background-color: #FFE898;
        color: #FFE898;
    }




    .c2 {
        display: flex;
        flex-direction: row;
        width: 98vw;
        height: 10vh;
        justify-content: space-between;
        margin-top: 10px;
        padding: 0px 10px 0px 10px;
    }

    .c2 button {
        background-color: white;
        border: none;
    }

    .c2 button:hover {
        cursor: pointer;

    }

    .c2 img {
        height: 3vh;
    }

    .input {
        display: flex;
        width: 42vw;
        align-items: center;
        border: 2px solid rgb(68, 68, 68);
        border-radius: 35px;
        padding-left: 15px;
        padding-right: 15px;
        height: 4vh;

        img {
            height: 3vh;
        }

    }

    input {
        border: none;
        width: 40vw;
    }

    textarea:focus,
    input:focus, button:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }


    .funcaomudar {
        color: white;
        margin-right: 15px;
    }


    .filtros {
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
        

    }












    .position {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        padding: 5px 5px 15px 15px;
        background-color: #ffe998e3;
        border-radius: 0px 0px 10px 10px;
        position: absolute;


        gap: 8px;
        width: 15vw;

        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            transition: 0.2s;
            cursor: pointer;

            letter-spacing: 1px;
        }
    }

    .yellow {
        display: flex;
        align-items: center;
        text-align: center;
        width: 15vw;
        height: 5vh;
        margin: 0px;
        background-color: #ffe998e3;
        padding: 0px 0px 0px 20px;
        border-radius: 25px 25px 0px 0px;
        font-family: 'Questrial', sans-serif !important;

      


    }

    .yellow:hover {
        transition: 0.2s;
        cursor: pointer;



    }

    .n-yelow {
        display: flex;
        align-items: center;
        text-align: center;
        width: 10vw;
        height: 10vh;
        margin: 0px;

        padding: 0px 0px 0px 15px;
    

            
    }

    .n-yellow:hover {
        letter-spacing: 1px;
        transition: 0.4s;
        font-weight: bold;
    }


}