body {

  margin: 0px;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;

  textarea:focus,
    input:focus, button:focus , select:focus, a:focus{
      text-decoration: none;
        box-shadow: 0px 0px 0px 0px;
        outline: none;
    }

}
