.s1 {

    .s-2{
        height: 10vh;
        background-color: #ffffff;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        width: 100vw;
     

    }
    .s2-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .c{
        height: 3vh;
        width: 2vw;
        background-color: rgb(0, 0, 0);
        border-radius: 900px;
        border: 2px solid black;
    }
   

    .l{
        height: 3px;
        background-color: rgb(0, 0, 0);
        width: 17vh;
    }

    .cv{
        height: 3vh;
        width: 2vw;
        background-color: #FEDF70;
        border-radius: 900px;
    }

    .p{
        display: flex;
        flex-direction: row;
        width: 17vw;
        text-align: center;
        padding-left: 15px;
        justify-content: center;
        gap: 120px;
        

        #en{
            padding-left: 18px;
        }

        #lo{
            padding-left: 17px;
        }

        
       
    }



}