.s1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .s-2 {
        height: 10vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding-bottom: 45px;


    }

    .s2-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .c {
        height: 3vh;
        width: 2vw;
        background-color: rgb(0, 0, 0);
        border-radius: 900px;
        border: 2px solid black;
    }


    .l {
        height: 3px;
        background-color: rgb(0, 0, 0);
        width: 17vh;
    }

    .cv {
        height: 3vh;
        width: 2vw;
        background-color: #FEDF70;
        border-radius: 900px;
    }

    .p {
        display: flex;
        flex-direction: row;
        width: 17vw;
        text-align: center;
        padding-left: 15px;
        justify-content: center;
        gap: 120px;


        #en {
            padding-left: 18px;
        }

        #lo {
            padding-left: 17px;
        }
    }











    .s-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        margin-left: 55px;
        background-color: #EEEEEE;
        height: 5vh;
        gap: 0px;
        width: 70vw;
        padding: 8px 0px 5px 15px;


        p {
            margin: 2px;
        }
    }

    .s-3 img {

        height: 2vh;

    }

    .s-1-2-3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin: 0px;
    
    }

    .s-1-2-3 p {
        font-size: 18px;
    }






    .s-4 {
        margin-left: 55px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 30px;
        width: 70vw;
    }

    #t-2 {
        margin: 0px;
        font-size: 19px;
    }


    .s-4-2 img {
        width: 2vw;
        height: 3vh;
    }

    #t-3 {
        font-size: 20px;
    }

    .s-4-3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        width: 15vw;
        height: 5vh;
        padding: 0px 0px 0px 5px;
        font-size: 18px;
    }

    .s-4-3 img {

        height: 28px;
    }



    .s-4-3:hover {
        transition: 0.4s;
        font-size: 20px;
        box-shadow: 0px 3px 5px #a0a0a0;
        border-radius: 5px;
        font-size: 18px;
        width: 18vw;

        img {
            height: 32px;
            transition: 0.4s;
        }
    }

    .l-c {
        height: 3px;
        background-color: #d4d4d4;
        width: 75vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 8px;
    }

    .k {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #t-3 {
        padding: 0px 0px 0px 15px;
    }





    .s-5 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }


    .s-5-1 {
        display: flex;
        flex-direction: row;
        width: 65vw;
        align-items: center;
        justify-content: space-between;
        height: 3vh;
    }


    .t-4 {
        color: #848484;
    }







    .r-1 {
        background-color: #EEEEEE;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        height: 15vh;
        gap: 5px;
        margin-top: 40px;
        width: 100vw;


        button {
            background-color: #000000;
            color: white;
            border: none;
            height: 6vh;
            width: 25vw;
            cursor: pointer;
            border-radius: 25px;
            font-size: 16px;
            margin: 15px 0px 0px 0px;
            transition: 0.3s ease;
        }

        button:hover {
            transition: 0.3s;
            font-size: 17px;
            box-shadow: 0px 3px 5px #a0a0a0;
            border-radius: 35px;
        }

        p {
            font-size: 18px;
        }

    }








    .cadastrarcartao {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
     
        border-radius: 30px;
        padding: 10px 0px 5px 25px;





        box-shadow: 0px 1px 12px #b8b8b8;

        p {
            font-size: 25px;
            padding-left: 30px;
            margin: 0px;
            padding-top: 10px;
        }
    }

    .linha {
        background-color: #D9D9D9;
        height: 2px;
        margin-left: 8px;
        border-radius: 20px;
        width: 28vw;

    }

    .info {
        display: flex;
        flex-direction: column;
        width: 20vw;
        padding-left: 20px;



        padding-top: 20px;


        p {
            font-size: 16px;
        }

        input {
            margin-left: 25px;
        }


    }

    .i {
        width: 19vw;
        height: 5vh;
        border-radius: 20px;
        border: 1px solid #CEA564;
        padding: 0px 0px 0px 10px;
    }

    textarea:focus,
    input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }

    textarea:focus,
    select:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }

    .info-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 22vw;
        margin: 8px;






        select {
            width: 8vw;
            height: 4vh;
            padding: 0px 0px 0px 14px;
            border: 1px solid #CEA564;
            border-radius: 20px;
        }


    }

    .input {
        border: 1px solid #CEA564;

    }


    #s-p {
        width: 19vw;
        height: 4vh;
        padding: 0px 0px 0px 14px;
        border-radius: 20px;
        border: 1px solid #CEA564;
        margin-left: 25px;


    }


    .info-3 {
        margin: 6px;
        padding-bottom: 40px;

    }

    .cabe {
        display: flex;
        flex-direction: column;
    }

    .info-tudo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }












    .info-lado {
        width: 35vw;
        padding-top: 20px;
    }


    .nome-cartao {
        width: 26vw;
        height: 5vh;
        border-radius: 20px;
        border: 1px solid #CEA564;
        padding: 0px 0px 0px 10px;
        margin-left: 23px;


    }

    #cod {
        font-size: 16px;

    }


    .codigo {
        width: 6vw;
        height: 3vh;
        border-radius: 20px;
        padding: 0px 0px 0px 10px;
        border: 1px solid #CEA564;
        margin-top: 5px;
        margin-left: 25px;
    }


    .codigo2 {
        width: 12vw;
        height: 3vh;
        border-radius: 20px;
        padding: 0px 0px 0px 10px;
        border: 1px solid #CEA564;
        margin-top: 5px;
        margin-left: 90px;
    }

    .infoo2 {
        height: 9vh;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        width: 33vw;
   
    }

    .ch input[type=checkbox] {
        position: relative;
        cursor: pointer;
    }

    input[type=checkbox] {
         position: relative;
	       cursor: pointer;
           
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 15px;
         height: 15px;
         top: 0;

         left: 0;
         background-color:#ffffff;
         border: 1px solid rgb(177, 177, 177);
}
input[type=checkbox]:checked:before {
         content: "";
         display: block;

         width: 20px;
         height: 20px;
         top: 0;
         left: 0;
         background-color:#CEA564;
         
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid white;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 6px;
        
}

.espaco{
    margin-right: 10px;
}




    .botao {
        width: 65vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;



        button{
            background-color: #fabc59d3;
            border: none;
            color: white;
            height: 5vh;
            width: 17vw;
            border-radius: 55px;
            font-size: 20px;
            letter-spacing: 1px;
        }
        button:hover{
            cursor: pointer;
            letter-spacing: 2px;
            background-color: #fabc59e8;
            transition: 0.4s;
            width: 18vw;

        }
    }

    .infoo2-Debito {
        height: 5vh;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-evenly;
        width: 52vw;
   
    }
    .debito{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 2px;
        width: 50vw;
        input{
            margin-right: 5px;
        }
    }
}