.p-1{

    height: 100vh;

    .s-1{
        height: 5vh;
        padding-left: 5vh;
    }

    .s-1 p{
        font-size: 4vh;
        text-align: start;
        color: #464444;
        padding-left: 5vh;
    }

    #l-1{
        background-color: #D9D9D9;
        height: 6%;
        width: 60vw;

    }

    .s-2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 30vh;
    }

    .s-2 input{
        border: 1px solid #CEA564;
        border-radius: 20px;
        width: 35vw;
        height: 7vh;
        text-align: start;
        font-size: 2vh;
    }
    
    textarea:focus, input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }   

    .e-1{
        border: 1px solid #CEA564;
        border-radius: 20px;
        width: 10vw;
        height: 5vh;
        text-align: start;
        font-size: 2vh;
    }

    textarea:focus, select:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }   

    .s-3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 6vh;
        padding-left: 11vh;
    }

    .s-4{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    #c-1{
        padding-right: 50vh;
    }

    .s-4 input{
        border: 1px solid #CEA564;
        border-radius: 20px;
        width: 15vw;
        height: 5vh;
        text-align: start;
        font-size: 2vh;
    }

    .s-3 p{
        font-size: 16px;
    }
    

}