.s-1{

    .s-2{
        display: flex;
        flex-direction: row;
        height: 10vh;
    }

    #c{
        background-color: aqua;
    }

    .s-1-3{
        background-color: #555555;
    }
    
    
}
