
.sobre {
  display: flex;
  flex-direction: row;
}

.sobre img {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: auto;
 
  margin: 50px;
  margin-left:20px;
}

.sobre p {
  font-family: 'x1';
  display: flex;
  flex-direction: column;
  color: rgb(34, 34, 34);
  margin-top: 0px;
}

.sobre h3 {
  color: rgb(255, 0, 0);
}
.sobre h1{
  color: rgb(255, 2, 2);
  font-family: 'ft1';
  margin-top: 50px;
}