


.index_login_usuario {
    overflow: hidden;
    input:focus{
        box-shadow: 0px 0px 0px 0px;    
        outline: 0;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #edcc9cd3;
    
    
    .sec_1 {
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        box-shadow: 0px 0px 20px #00000080;
        height: 70vh;
        width: 80vh;
    }

    .sec1_div_img {
        width: 60vh;
    }

    .sec1_div_img > img {
        height: 100%;
        width: 100%;
        border-radius: 20px 0px 0px 20px;
    }

    .sec1_login {
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #ffce83e6;
        border-radius: 0px 20px 20px 0px;
        gap: 15px;
    }

    .s2-login{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

   

    .log1_inputs, .log1_titulos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #input_log1 {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
       
    }

    #solleil {
        font-family: 'castle';
        margin: 10px 0px 5px 0px;
        font-size: 46px;
    }

    #login {
        font-family: 'Questrial', sans-serif;
        font-weight: 500;
        margin: 5px 0px 10px 0px;
        font-size: 22px;
    }

    #input_log1 {
        display: flex;
        flex-direction: column;
    }

    #input_log1 > input {
        border-radius: 20px;
        border: none;
        margin: 5px 0px 10px 0px;
        box-shadow: 0px 4px 4px 0px #00000040;
        height: 4vh;
        width: 18vw;
        padding: 0px 0px 0px 15px;
    }

    #reset_log1 {
        margin: 10px 0px 10px 0px;
        font-weight: bold;
    }
    .s2-login{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
    }

    .s2-login > button {
        font-family: 'questrial';
        border: none;
        border-radius: 20px;
        height: 4vh;
        width: 10vw;
        background-color: #946110c4;
        color: #fff
    }

    .button:hover{
        cursor: pointer;
        letter-spacing: 1px;
        transition: 0.3s;
        background-color: #946110e0;
    }

    .login_2 > h4 {
        margin: 10px 0px 10px 0px;
    }

   

    #botao_face {
        background-color: #1977F3;
        color: #fff;
    }

    #pag_cadastro {
        text-decoration: none;
        color: #000;
    }

    #pag_cadastro:hover {
        cursor: pointer;
        transition: 0.3s;
        letter-spacing: 1px;
        color: #ff8818;
    }

    #erro {
        color: #ff0000
    }

}

@media (max-width: 550px){
    .s1-login{
        width: 250px;
        height: 70px;

        #solleil{
            font-size: 30px;
        }
        #login{
            font-size: 20px;
        }
    }
    .s2-login{
        padding: 10px;

        .button{
            width: 20vw;
            font-size: 10px;
        }
        label{
            font-size: 15px;
        }
        h6{
            font-size: 15px;
        }
    }
}