@font-face {
    font-family:'reno';
    src: url('../../../../../public/assets/fonts/Renogare-Regular.otf');
}
.pg-aprovado{
    overflow-x: hidden;


    .cabecalho{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;

        .lg-img{
            display: flex;
            flex-direction: row;
            
        }

        .linha{
            height: 3px;
            width: 100%;
            background-color: #5c5c5c;
            }

        img {
            margin-bottom: 15px;
             height: 8vh;
         }

 #logo{
        font-size: 65px;
        font: 65px 'castle';
    }


    }

   
    .sol-apv{
        height: 30px;
        margin-top: 30px;
    }

    .s1-apv{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: black;
        height: 30vh;

        h1{
            font-size: 50px;
            text-align: center;
            color: #19B400;
        }

        h5{
            font-size: 15px;
            text-align: center;
            color: white;
        }


       .correto{
        margin-top: 8%;
        display: flex;
        flex-direction: row;
        justify-content: center;
       
      
        

       }

        .verifica{
           background-color: white;
           width: 15vw; 
           box-shadow: 0px 2px 3px #000;
           border-radius: 100%
           
           
           
            
        }
      
        
    }

    .acompanhar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 10%;
        margin-top: 30px;
        gap: 10px;
        text-align: center;
        width: 80vw;
        




        .produtoveri{
            height: 35vh;
            margin-left: 5%;

        }

        button{
            background-color: #19B400;
            width: 20vw;
            height: 5vh;
            color: #ffffff;
            border: none;
            margin-top: 20px;
            
        }

        .b{  
            margin-left: 25%;
            width: 10vw;
            box-shadow: 0px 2px 3px #000;
            
        }
       
        .acomps-1{
            gap: 10px;
            margin-top: 5%;
    
        }
        #blue{
            margin-left: 10px;
            color: #282bd4;
            font-weight: bold
            
        }

        #negri{
            color: #9e9e9e;
            font-weight: bold;
        }

        .acomps-2{
            display: flex;
            flex-direction: column;
            margin-bottom: 5%;
           

          
        }

        .todes{
            margin-top: 37%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 30px;



            .todes p{
                font-size: 20px;
                font-family: 'reno';
            }
        }
        .acp-2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 20vw;
        }.acp-1{
            display: flex;
            flex-direction: row;
          
        }





        }

        @media (max-width: 550px) {

            .pg-aprovado{
                overflow-x: hidden;}

                .s1-apv{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    background-color: black;
                    height: 20vh; }
            
            
                .cabecalho{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 10vh;}

                    .s1-apv h1{
                        font-size: 20px;


                      
                    }

                    .s1-apv h5{
                          font-size: 10px;
                    }
            
                 
            
          
                }
}