.ka{
    background-color: white;
    overflow: hidden;
    
    .cla{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        

    }
    .clara{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border: 2px solid #E2BC81;
        border-radius: 20px;
        position: relative; 
        width: 50vw;
        height: 4vh;
    }
    .clara input{
        width: 35vw;
        height: 3vh;
        border: none;
        border-radius: 20px;
        
    }
    
    
    .clan button {
        padding: 9px 56px;
        border-radius: 20px;
        line-height: 1.25;
        background-color: white;
        text-decoration: none;
        gap: 10px;

        color: rgb(0, 0, 0);
        font-size: 10px;

        letter-spacing: .08em;
        text-transform: uppercase;
        position: relative;
        transition: background-color .6s ease;
        overflow: hidden;
        border: none;


        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            left: 50%;
            top: var(--mouse-y);
            left: var(--mouse-x);
            transform-style: flat;
            transform: translate3d(-50%,-50%,0);
            background: rgba(white,.1);
            border-radius: 100%;
            transition: width .3s ease, height .3s ease;
        }
        &:focus,
        &:hover {
            background: darken(#E2BC81,7%);
        }
        &:active {
            &:after {
                width: 300px;
                height: 300px;
            }
        }
    }
    .clara img{
        
      width: 10px;
      
    
    }

    .filtra{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0px;
    
       
    }
    .table{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin: 60px;
        border: 3px solid #E2BC81;  
        width: 75vw;
        height: 30vh;
        border-radius: 20px;
       


    }
   .fi-1{
    margin: 25px;
   }
    .pedid{
        border: 2px solid #E2BC81; 
        width: 13vw;
        height: 5vh;
        border-radius: 16px;
        padding: 10px;
        
    }
    .fi-2{
        display: flex;
        height: 35px;
        margin: 15px;
    }
    .fi-2 button{
        background-color: #E2BC81 ;
        border-color: #E2BC81;
        width: 6vw;
        height: 5vh;
        color: white;
        border-radius: 10px;

    }
    .fil-pedid{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100vw;
        gap: 40px;
    }
    .fil-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 10px;
        gap: 10px;
    }
    .filsa{
        display: flex;
        background-color: #D9D9D9;
        width: 5vw;
        height: 4vh;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
    }
    .filsa img{
        width: 20px;
        height: 25px;
    }
    .fil-2{
        background-color: #D9D9D9;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    
        border-radius: 25px;
        width: 26vw;
        height: 5vh;
    }
    .filso{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-weight: bold
    }
    .fil-2 img{
        width: 20px;
        height: 25px;
    }
    .filtro-tot{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .fil-total{
        border-radius: 20px;
        border: 2px solid #E2BC81; 
        width: 90vw;
        height: 50vh;
        margin: 10px;
    }
    .to-1{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 100px;
        margin: 15px;
        font-size: 17px;
        font-weight: bold;
    }
    .bola{
        background-color: #D9D9D9;
        width: 2vw;
        border-radius: 100%;
        height: 3vh;
        margin: 10px;
    }
}

@media (max-width: 550px) {
    .ka{
        input{
           width: 10px;
        }

    }
}

