.ka{
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
    background-color: white;
    overflow: hidden;
    
    .cla{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-family: 'Comfortaa', sans-serif;
        

    }
    
    
    
    
    .filtra{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0px;
    
       
    }
    .table{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin: 60px;
        border: 3px solid #E2BC81;  
        width: 60vw;
        height: 30vh;
        border-radius: 20px;
       


    }
   .fi-1{
    margin: 25px;
    display: flex;
    flex-direction: column;
   }
    .pedid{
        border: 2px solid #E2BC81; 
        width: 13vw;
        height: 6%;
        border-radius: 16px;
        padding: 10px;
        
    }
    .fi-2{
        display: flex;
        height: 35px;
        margin: 15px;
    }
    .fi-2 button{
        background-color: #E2BC81 ;
        border-color: #E2BC81;
        width: 6vw;
        height: 5vh;
        color: white;
        border-radius: 10px;

    }
    .fil-pedid{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100vw;
        gap: 40px;
    }
    .fil-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        gap: 10px;
    }
    .filsa{
        display: flex;
        background-color: #D9D9D9;
        width: 5vw;
        height: 4vh;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
    }
    .filsa img{
        width: 20px;
        height: 25px;
    }
    .fil-2{
        background-color: #D9D9D9;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    
        border-radius: 25px;
        width: 26vw;
        height: 5vh;
    }
    .filso{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-weight: bold
    }
    .fil-2 img{
        width: 20px;
        height: 25px;
    }
    .filtro-tot{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .fil-total{
        border-radius: 20px;
        border: 2px solid #E2BC81; 
        width: 90vw;
        height: 50vh;
        margin: 10px;
    }
    .to-1{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 150px;
        margin: 15px;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Comfortaa', sans-serif;
    }
    .id{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .to-2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 100px;
    }
    .linh{
        height: 2px;
        width: 100%;
        background-color: #E2BC81;
        color: #E2BC81;
    }
}

@media (max-width: 550px) {
    .ka{
        input{
           width: 10px;
        }

    }
}

